<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div class="container main"">
		<div class="row">
			<div class="col align-center" style="padding-top: 30px">
				<form action="/process_login" method="POST">
					<p>
						<label for="id_email">Email:</label>
						<input type="text" name="email" autofocus maxlength="254"><br/>
					</p>
					<p>
						<label for="id_password">Password:</label>
						<input type="password" name="password"><br/><br/>
					</p>
					<p>
						<button class="btn waves-effect waves-light submit" name="submit">Log In</button>
						<input type="hidden" name="next" value="/" autofocus maxlength="254">
					</p>
				</form>
			</div>
		</div>
	</div>
</body>