<form action="register" method="POST">
	Email:<br/>
	<input type="text" name="email"><br/>
	Username:<br/>
	<input type="text" name="username"><br/>
	Password:<br/>
	<input type="password" name="password"><br/>
	Chef? <input type="checkbox" name="chef"><br/><br/>
	<input type="submit" name="" value="Register" class="btn btn-secondary" role="button">
</form>