<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<html>
<div class="about">
   	<img src="/images/dashboard.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 100%;"></br>
   <h2 style="font-size:18px">
   	About ChefEats:
   </h2>
   <p style="font-size:12px">
   	ChefEats is a project by Jesus Ramirez and Cynthia Rocha coded in Ruby and HTML, utilizing Sinatra and Datamapper. Completed for Software Engineering (CSCI 3340) at the Universtity of Texas Rio Grande Valley. The main goal of this website was to create a platform where cooking enthusiasts could sell dishes they have created to locals in their area.
   </p>

	<p style="font-size:14px">Features:</p>
   	<p style="font-size:12px"><b>Chefs:</b></p>
		<ul>
		  	<li>- Ability to Create new Menu Entries.</li>
		  	<li>- Delete Menu Entries.</li>
		  	<li>- Order food same as regular user.</li>
		  	<li>- Upload Pictures for Menu Entries.</li>
		  	<li>- Upload User Profile Picture</li>
		  	<li>- See Pending Orders</li>
		</ul>
	<p style="font-size:12px"><b>Regular Users:</b></p>
		<ul>
		  	<li>- See Available Chefs & Menus</li>
		  	<li>- Place Orders.</li>
		  	<li>- View Previous Orders</li>
		  	<li>- Re-Order Previous Orders</li>
		  	<li>- Upload User Profile Picture</li>
		  	<li>- Rate Chefs and Orders</li>
		</ul>
</div></br></br>
</html>