<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="top-main">
  <div class="jumbotron" style="background-image: linear-gradient(#BFFFFA, white)">
    <div class="container">
      <div class="home_image">
        <img src="/images/Banner.jpg">
          <div class="centered">
            <h2 style="font-size: 30pt">Drive your hunger home with ChefEats!</h2>

            <% if current_user %>
              <p>
                <a class="btn btn-primary" href="/chefs" role="button">View Chefs</a>
              </p>
            <% end %>

            <% if !current_user %>
              <p>
                <a class="btn btn-primary" href="/sign_up" role="button">Sign Up Now!</a>
              </p>
            <% end %>
          </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Ready to Order?</h2>
      <p>See available chefs and the delicious Home-Made food they're prepared
      to cook for you right now!</p>
      <p><a class="btn btn-secondary" href="/chefs" role="button">Order Now!</a></p>
    </div>
    <div class="col-md-4">
      <h2>Membership</h2>
      <p>Get access to the top rated chefs at a discount price!</p></br>
      <p><a class="btn btn-secondary" href="/subscribe" role="button">Subscribe Now!</a></p>
    </div>
  </div>
</div>