<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="home_image">
<img src="/images/Banner.png" style="max-width: 100%; height: auto; position: center; margin: 0; padding: 0;">
  <div class="centered">
    <div class="banner_button" style="top: 60px; left: 110px; position:relative;">
      <% if current_user %>
        <p><a class="btn btn-primary btn-xl" href="/chefs" role="button">Order Now!</a></p>
      <% end %>

      <% if !current_user %>
        <p><a class="btn btn-primary" href="/sign_up" role="button">Get Started!</a></p>
      <% end %>
    </div>
  </div>
</div></br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2 style="font-size: 26px"><b>Order Now</b></h2>
      <p>See available chefs and the delicious Home-Made food they're prepared
      to cook for you right now!</p>
      <p><a class="btn btn-secondary" href="/chefs" role="button">View Chefs</a></p>
    </div>
    <div class="col-md-4">
      <h2 style="font-size: 26px"><b>Membership</b></h2>
      <p>Get access to the top rated chefs at a discount price!</p></br>
      <p><a class="btn btn-secondary" href="/subscribe" role="button">Subscribe Now!</a></p>
    </div>
  </div>
</div>
</body>