<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Drive your hunger home with chefEATS</h1>
    <p>Warm, homemade meals, at your request… chefEATS</p>
    <p><a class="btn btn-primary btn-lg" href="/about-us" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Chefs</h2>
      <p>Interested in cooking for others or simply want to get feedback
      on dishes you have created?</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Ready to Order?</h2>
      <p>See available chefs and the delicious Home-Made food they're prepared
      to cook for you right now!</p>
      <p><a class="btn btn-secondary" href="/chefs" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Membership</h2>
      <p>Get access to the top rated chefs at a discount price!</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container