<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #EEE5DC; height: 78px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign_up">Sign Up</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About</a>
      </li>
    </ul>
    <div class="logo">
      <img src="/images/logo.png" style="max-width:25%">
    </div>
  </div>
</nav>
</div>