<form action="/new_meal/create" method="POST">
	Title: <input type="text" name="title"></br>
	Description: <textarea name="description" cols="50" rows="10"></textarea></br>
	Dish ID: <input type="ID" name="ID"></br>
	Price: <input type="number" step="any" name="price"></br></br>
	Time: <input type="number" name="time"> minutes</br></br>
	<input type="submit" name="Submit">
</form>