<form action="/new_order/create" method="POST">
	Delivery: <input type="checkbox" name="Delivery"></br>
	Carry Out: <input type="checkbox" name="Carry Out"></br>
	<input type="submit" name="Submit">
</form>