<div class="container">
  <div class="container">
    <p>Signing up for a monthly subscription guarantees you access to the top chefs in your area, Plus discounted prices on items your order.</p>
    <p>blah blah blah more info....</p>
  </div>
  <form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $20.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="2000"
            data-locale="auto"></script>
  </form>
</div>