<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="container">
      <img src="/images/membership.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%;"></br>
    <p>Signing up for a monthly subscription plan guarantees you access to the top chefs in your area, Plus discounted prices on items you order.</br></br></p>

    <p style="font-size:18px"><b>Features:</b></p>
    <ul>
        <li>- Lower Fees on plates ordered.</li>
        <li>- Search for Chefs in your City.</li>
        <li>- Access to the Top Chefs in your City.</li>
    </ul>
  <form action="/charge" method="post" class="payment">
    <article>
      <label class="amount">
        <span>Amount: $20.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= settings.publishable_key %>"
            data-description="A month's subscription"
            data-amount="2000"
            data-locale="auto">
    </script>
    <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>
    <input type="submit" name="Pay Now" value="Subscribe!" class="btn btn-secondary" role="button">
  </form>
</div>