/* remove rounding from cards, buttons and inputs */
.card, .btn, .form-control { border-radius: 0; }

body {
background-color: #91D2AA;
margin: 0;
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  -webkit-background-filter: blur(5px);
  -moz-background-filter: blur(5px);
  -o-background-filter: blur(5px);
  -ms-background-filter: blur(5px);
  background-filter: blur(5px);*/
}

.nav li a.active, 
.nav li a.active:hover {
    text-shadow: 0px 0px 5px #ccc;
    color:#cccccc;
}

/*img {
    max-width: 100%;
    height: auto;
    opacity: 0.87;
}*/

.delete-recent {
    position: relative;
    bottom: -15px;
    font-size: 25px;
    text-align:right;
}

/*.single-order {
  border-radius: 10px;
  padding: 20px; 
  width: 50%;
  height: auto;
  background-color: #76f7f7;
}*/

.order-again {
  align-items: center;
  text-align: center;
}

.logo {
    position: relative;
    top: 0px;
    left: 110px;
}

.pro-badge {
  font-size: 10px;
  position: relative;
  bottom: 39px;
  left: 10px;
  color: #f25c05;
}

.centered {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

.jumbotron {
  /*background-color: #BFFFFA;*/
	background-image: linear-gradient(#FFFBF6, white);
}

.menu_items {
  /*background-color: #BFFFFA;*/
  background-image: linear-gradient(#FFFBF6, white);
}

.top-main {
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-sm-4 {
  border-radius: 10px;
  padding: 20px; 
  width: 50%;
  height: auto;
  background-color: #FFFBF6;
}

.col-md-4 {
/*  align-items: center;*/
/*  text-align: center;*/
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#upload_button {
  display: inline-block;
}

#upload_button input[type=file] {
  display:none;
}

/*.user_info {
  background: url("dashboard.jpg");
}*/

/*.menu_entry {
  background-color: #76f7f7;
}*/

/*#upload_button input[type=submit] {
  display:none;
}*/
