.user_info {
  background-image: url("/images/profileheader.png");
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}

.delete-recent {
    position: relative;
    bottom: -15px;
    font-size: 25px;
    text-align:right;
}

.single-order {
  border-radius: 10px;
}

.order-again {
  align-items: center;
  text-align: center;
}

.logo {
    position: relative;
    top: 0px;
    left: 110px;
}

/*.pro-badge {
  font-size: 10px;
  position: relative;
  bottom: 39px;
  left: 10px;
  color: #f25c05;
}*/

.centered {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

.jumbotron {
  /*background-color: #BFFFFA;*/
	background-image: linear-gradient(#FFFBF6, white);
}

.menu_items {
  /*background-color: #BFFFFA;*/
  background-image: linear-gradient(#FFFBF6, white);
}

.top-main {
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.col-sm-4 {
  border-radius: 10px;
  padding: 20px; 
  width: 50%;
  height: auto;
  background-color: #FFFBF6;
}*/

.col-md-4 {
/*  align-items: center;*/
/*  text-align: center;*/
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#upload_button {
  display: inline-block;
}

#upload_button input[type=file] {
  display:none;
}

/*.user_info {
  background: url("dashboard.jpg");
}*/

/*.menu_entry {
  background-color: #76f7f7;
}*/

/*#upload_button input[type=submit] {
  display:none;
}*/
